<div class="card-container">
  <!-- Cards para pantallas móviles -->
  @if (hotels()) { @for (hotel of hotels(); track hotel) {
  <div class="card border mb-2 p-2">
    <button
      class="btn w-100 text-start d-flex align-items-center position-absolute"
      data-bs-toggle="collapse"
      [attr.data-bs-target]="'#hotel-' + hotel.id"
      (click)="toggleCollapse(hotel.id)"
    >
      @if (isHotelOpen(hotel.id)) {
      <i class="fa-solid fa-chevron-down me-2 text-primary"></i>
      }@else{
      <i class="fa-solid fa-chevron-right me-2 text-primary"></i>
      }
    </button>

    <div class="py-0 ms-5">
      <div class="row">
        <div class="col-5 fw-bold">Hotel</div>
        <div class="col-7">{{ hotel.name }}</div>
      </div>
    </div>

    <div [attr.id]="'hotel-' + hotel.id" class="collapse py-0 ms-5">
      <div class="row">
        <div class="col-5 fw-bold">Dirección</div>
        <div class="col-7">{{ hotel.address }}</div>

        <div class="col-5 fw-bold">Código Postal</div>
        <div class="col-7">{{ hotel.postalCode }}</div>

        <div class="col-5 fw-bold">Empleados</div>
        <div class="col-7">{{ hotel.totalEmployees }}</div>

        <div class="col-5 fw-bold">Habitaciones</div>
        <div class="col-7">{{ hotel.totalRooms }}</div>

        <div class="col-5 fw-bold">Pertenencia</div>
        <div class="col-7">
          @if (hotel.userId === authService.user()?.id) { Propio }@else{ Ajeno }
        </div>

        <div class="d-flex gap-2 pt-2 w-100">
          <!-- Botón de acceso al hotel -->
          <button
            [routerLink]="['/workspace/hotel-access/', hotel.id]"
            class="btn btn-lg btn-blue"
          >
            <i class="fa-solid fa-arrow-right-to-bracket text-white"></i>
          </button>

          @if (hotel.userId === authService.user()?.id) {
          <!-- Botón de edición -->
          <button
            [routerLink]="['/workspace/hotels/', hotel.id]"
            class="btn btn-lg btn-warning"
          >
            <i class="fa-solid fa-pencil text-white"></i>
          </button>
          <!-- Botón de eliminación -->
          <button (click)="openDeleteHotelModal(hotel.id)" type="button" class="btn btn-lg btn-danger">
            <i class="fa-solid fa-trash-can"></i>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
  } }
</div>
<reusable-modal
[modalText]="'¿Deseas eliminar el hotel de forma permanente?'"
(accepted)="handleDeleteHotel()"
></reusable-modal>
