<!-- fixed-top -->
<header
  class="d-grid fixed-top custom-header bg-white shadow-lg"
  style="height: 80px"
>
  <nav class="navbar navbar-light shadow">
    <div class="container-xxl">
      <!-- Botón desplegable (Visible en Móvil) -->
      <button
        [ngClass]="{
          'd-md-none': currentRoute() === '/landing',
          'd-block':
            currentRoute().startsWith('/workspace') ||
            currentRoute().startsWith('/hotelsession')
        }"
        class="navbar-toggler text-white border-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <i class="fa-solid fa-bars fs-2 text-primary"></i>
      </button>

      <!-- Logo -->
      <div class="navbar-brand me-auto ms-3">
        <a
          [routerLink]="'/workspace'"
          (click)="hotelSessionService.logout()"
          class="d-flex align-items-center no-decoration"
          href="#"
        >
          <img
            src="assets/images/almohada-logo.png"
            alt="Bootstrap"
            width="50"
            height="33"
            class="me-2"
          />
          <h3
            [ngClass]="{
              'd-none d-md-flex':
                currentRoute().startsWith('/workspace') ||
                currentRoute().startsWith('/hotelsession')
            }"
            class="logo-text mb-0"
          >
            PillowTasker
          </h3>
        </a>
      </div>

      <!-- (LANDING) Botones de Registro e Iniciar Sesión (Visible en Escritorio) -->
      @if ( currentRoute().startsWith('/landing') ) {
      <div class="justify-content-end d-none d-md-flex">
        @if (authService.authStatus() === 'not-authenticated'){
        <div class="d-flex gap-2">
          <a
            [routerLink]="'/auth/login'"
            class="btn btn-tertiary d-flex py-2 px-3"
          >
            <i class="fa-solid fa-user fs-4 m-0 d-flex align-items-center"></i>
            <p class="my-0 ms-2 align-items-center d-flex">
              <b>Inicar Sesión</b>
            </p>
          </a>
          <a
            [routerLink]="'/auth/register'"
            class="btn btn-secondary d-flex py-2 px-3"
          >
            <i
              class="fa-solid fa-pen-to-square fs-4 m-0 d-flex align-items-center"
            ></i>
            <p class="my-0 ms-2 align-items-center d-flex">
              <b>Registrarse</b>
            </p>
          </a>
        </div>
        }
      </div>
      } @if (currentRoute().startsWith('/workspace') ||
      currentRoute().startsWith('/hotelsession')) {
      <div class="dropdown">
        <button
          class="btn btn-lg btn-outline-primary d-flex align-items-center rounded-circle p-1 border-0"
          type="button"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user-circle" style="font-size: 3rem"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end shadow py-2 px-4"
          style="width: auto; min-width: unset"
          aria-labelledby="userDropdown"
          style="min-width: 190px"
        >
          @if (currentRoute().startsWith('/workspace')) {
          <li class="mb-1">
            <strong style="white-space: nowrap; display: inline-block"
              >{{ authService.user()?.name }}
              {{ authService.user()?.surname1 }}
              {{ authService.user()?.surname2 }}</strong
            >
          </li>
          <li class="mb-1 text-muted">{{ authService.user()?.mail }}</li>
          } @if (currentRoute().startsWith('/hotelsession')) {
          <li class="mb-1">
            <strong style="white-space: nowrap; display: inline-block">{{
              hotelSessionService.hotelSession()?.hotelName
            }}</strong>
          </li>
          <li class="mb-1" style="white-space: nowrap; display: inline-block">
            {{ hotelSessionService.hotelSession()?.userName }}
            {{ hotelSessionService.hotelSession()?.userSurname1 }}
          </li>
          <li class="mb-1 text-muted">
            {{ hotelSessionService.hotelSession()?.rol | rol }}
          </li>
          }
          <li><hr class="dropdown-divider" /></li>

          <li>
            <a
              class="btn btn-danger w-100 d-flex"
              [routerLink]="'/landing'"
              (click)="authService.logout()"
            >
              <i
                class="fa-solid fa-arrow-right-from-bracket m-0 d-flex align-items-center justify-content-center"
                style="width: 32px"
              ></i>
              <p
                class="my-0 ms-1 align-items-center justify-content-center d-flex"
              >
                <b style="white-space: nowrap; display: inline-block"
                  >Cerrar Sesión</b
                >
              </p>
            </a>
          </li>
        </ul>
      </div>
      }

      <div
        class="offcanvas offcanvas-start text-bg-primary"
        tabindex="-1"
        id="offcanvasDarkNavbar"
        #offcanvasDarkNavbar
        aria-labelledby="offcanvasDarkNavbarLabel"
        style="width: 330px"
      >
        <!-- Encabezado del Desplegable -->
        <div
          class="offcanvas-header align-items-center px-4"
          style="height: 80px"
        >
          <a
            class="d-flex align-items-center no-decoration"
            [routerLink]="'/workspace'"
            (click)="hotelSessionService.logout()"
          >
            <h3 class="logo-text text-bg-primary">PillowTasker</h3>
          </a>

          <button
            type="button"
            class="text-white border-0 bg-transparent ms-auto"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <i class="fa-solid fa-chevron-left fs-3"></i>
          </button>
        </div>

        <!-- Línea horizontal -->
        <hr class="my-0 border border-white border-1 opacity-50" />

        <!-- Cuerpo del desplegable -->
        <div class="offcanvas-body px-4 d-flex flex-column">
          <!-- (LANDING) Información del footer -->
          @if ( currentRoute().startsWith('/landing')) {
          <div class="d-md-none mt-4">
            <!-- Sección Sobre Nosotros -->
            <h5 class="fw-bold">Sobre Nosotros</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Area de prensa</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Publicidad</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Terminos y condiciones</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Privacidad y cookies</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Aviso legal</a
                >
              </li>
            </ul>

            <!-- Sección Contáctanos -->
            <h5 class="fw-bold">¿Dudas? Contáctanos</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Mis Reservas</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Ir al centro de ayuda</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Haz un ticket</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Resolución de litigios</a
                >
              </li>
            </ul>
          </div>
          }

          <!-- Botones dinamicos para cada ruta -->
          <!-- ...existing code... -->
          @for ( button of getVisibleButtons(); track $index ) {
          <div class="list-unstyled" id="list-tab" role="tablist">
            @if ( currentRoute().startsWith(button.area) ) {
            <a
              [routerLink]="button.routerLink"
              routerLinkActive="btn-light-brown text-primary"
              class="btn btn-lg btn-primary w-100 d-flex mb-2"
            >
              <i
                [class]="button.icon"
                class="fs-3 m-0 ms-2 d-flex align-items-center justify-content-center"
                style="width: 32px"
              ></i>
              <p
                class="my-0 mx-4 align-items-center justify-content-center d-flex"
              >
                <b>{{ button.label }}</b>
              </p>
            </a>
            }
          </div>
          }
          <!-- ...existing code... -->

          <!-- (LANDING USUARIO NO VERIFICADO) Login y register -->
          @if (authService.authStatus() === 'not-authenticated'){
          <div class="d-flex flex-column mt-auto">
            <a
              [routerLink]="'/auth/login'"
              class="btn btn-lg btn-tertiary w-100 d-flex mb-2"
            >
              <i
                class="fa-solid fa-user fs-3 m-0 ms-2 d-flex align-items-center justify-content-center"
                style="width: 32px"
              ></i>
              <p
                class="my-0 mx-4 align-items-center justify-content-center d-flex"
              >
                <b>Inicar Sesión</b>
              </p>
            </a>
            <a
              [routerLink]="'/auth/register'"
              class="btn btn-lg btn-secondary w-100 d-flex mb-2"
            >
              <i
                class="fa-solid fa-pen-to-square fs-3 m-0 ms-2 d-flex align-items-center justify-content-center"
                style="width: 32px"
              ></i>
              <p
                class="my-0 mx-4 align-items-center justify-content-center d-flex"
              >
                <b>Registrarse</b>
              </p>
            </a>
          </div>
          }

          <!-- (LANDING-WORKSPACE USUARIO VERIFICADO) Entrar y Cerrar Sesion -->

          <!-- (HOTELSESSION) Salir Hotel -->
          @if (currentRoute().startsWith('/hotelsession') ) {
          <div class="d-flex flex-column mb-2 mt-auto">
            <a
              [routerLink]="'/workspace'"
              (click)="hotelSessionService.logout()"
              class="btn btn-lg btn-danger w-100 d-flex mb-2"
            >
              <i
                class="fa-solid fa-door-open fs-3 m-0 ms-2 d-flex align-items-center"
                style="width: 32px"
              ></i>
              <p
                class="my-0 mx-4 align-items-center justify-content-center d-flex"
              >
                <b>Salir Hotel</b>
              </p>
            </a>
          </div>
          }
        </div>
      </div>
    </div>
  </nav>
</header>
