<header class="d-grid" style="height: 90px">
  <nav class="navbar navbar-light sticky-top bg-white shadow">
    <div class="container-xxl">

      <!-- Botón desplegable (Visible en Móvil) -->
      <button
        [ngClass]="{
          'd-md-none': currentRoute() === '/landing',
          'd-block':
            currentRoute().startsWith('/workspace') ||
            currentRoute().startsWith('/hotelsession')
        }"
        class="navbar-toggler text-white border-0 fs-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <i class="fa-solid fa-bars fs-1 text-primary"></i>
      </button>

      <!-- Logo -->
      <div class="navbar-brand me-auto ms-3">
        <a [routerLink]="'/landing'" class="d-flex align-items-center no-decoration" href="#">
          <img src="assets/images/almohada-logo.png" alt="Bootstrap" width="60" height="40" class="me-2">
          <h3
          [ngClass]="{
          'd-none d-md-flex':
            currentRoute().startsWith('/workspace') ||
            currentRoute().startsWith('/hotelsession')
        }"
         class="logo-text mb-0">PillowTasker</h3>
        </a>
      </div>

      <!-- (LANDING) Botones de Registro e Iniciar Sesión (Visible en Escritorio) -->
      @if ( currentRoute().startsWith('/landing') ) {
      <div class="justify-content-end d-none d-md-flex">

        <!--  -->
        @if (authService.authStatus() === 'authenticated') {
          <div class="d-flex gap-2">
            <a [routerLink]="'/workspace'" class="btn btn-tertiary d-flex py-2 px-3">
              <i class="fa-solid fa-house fs-3 m-0 d-flex align-items-center" style="width:32px;"></i>
              <p class="my-0 ms-2 align-items-center d-flex"> <b>Entrar</b> </p>
            </a>
            <a [routerLink]="'/landing'" (click)="authService.logout()" class="btn btn-danger d-flex py-2 px-3">
              <i class="fa-solid fa-arrow-right-from-bracket fs-3 m-0 d-flex align-items-center" style="width:32px;"></i>
              <p class="my-0 ms-2 align-items-center d-flex"> <b>Salir</b> </p>
            </a>
          </div>
        }
        <!--  -->
        @else if (authService.authStatus() === 'not-authenticated'){
          <div class="d-flex gap-2">
            <a [routerLink]="'/auth/login'" class="btn btn-tertiary d-flex py-2 px-3">
              <i class="fa-solid fa-house fs-3 m-0 d-flex align-items-center"></i>
              <p class="my-0 ms-2 align-items-center d-flex"> <b>Inicar Sesión</b> </p>
            </a>
            <a [routerLink]="'/auth/register'" class="btn btn-secondary d-flex py-2 px-3">
              <i class="fa-solid fa-arrow-right-from-bracket fs-3 m-0 d-flex align-items-center"></i>
              <p class="my-0 ms-2 align-items-center d-flex"> <b>Registrarse</b> </p>
            </a>
          </div>
        }
        <!--  -->
        @else {
          <a class="btn">...</a>
        }

      </div>
      }

      <!-- (WORKSPACE) Informacion Usuario -->
      @if ( currentRoute().startsWith('/workspace') ) {
      <div class="align-items-end d-flex flex-column text-primary">
        <p class="mb-0"><span class="badge text-bg-secondary">{{ authService.user()?.name }} {{ authService.user()?.surname1 }} {{ authService.user()?.surname2 }}</span></p>
        <p class="mb-0"><span class="badge text-bg-tertiary text-white">{{ authService.user()?.mail }}</span></p>
      </div>
      }

      <!-- (HOTELSESSION) Informacion HotelSession -->
      @if ( currentRoute().startsWith('/hotelsession') ) {
        <div class="align-items-end d-flex flex-column text-primary">
        <p class="mb-0"><span class="badge text-bg-primary">{{hotelSessionService.hotelSession()?.hotelName}}</span></p>
        <small class="mb-0"><span class="badge text-bg-secondary">{{hotelSessionService.hotelSession()?.userName}} {{hotelSessionService.hotelSession()?.userSurname1}}</span></small>
        <small class="mb-0"><span class="badge text-bg-tertiary text-white">{{hotelSessionService.hotelSession()?.rol}}</span></small>
      </div>
      }

      <div class="offcanvas offcanvas-start text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar"  #offcanvasDarkNavbar aria-labelledby="offcanvasDarkNavbarLabel" style="width: 330px;" >

        <!-- Encabezado del Desplegable -->
        <div class="offcanvas-header align-items-center px-4" style="height: 90px;">
          <a class="d-flex align-items-center no-decoration" href="#">
            <h3 class="logo-text text-bg-primary">PillowTasker</h3>
          </a>
          <button type="button" class="text-white border-0 bg-transparent ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-chevron-left fs-2"></i>
          </button>
        </div>

        <!-- Línea horizontal -->
         <hr class="my-0 border border-white border-1 opacity-50">

        <!-- Cuerpo del desplegable -->
        <div class="offcanvas-body px-4 d-flex flex-column">

          <!-- (LANDING) Información del footer -->
          @if ( currentRoute().startsWith('/landing')) {
            <div class="d-sm-none mt-4">
            <!-- Sección Sobre Nosotros -->
            <h5 class="fw-bold">Sobre Nosotros</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Area de prensa</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Publicidad</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Terminos y condiciones</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Privacidad y cookies</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Aviso legal</a
                >
              </li>
            </ul>

            <!-- Sección Contáctanos -->
            <h5 class="fw-bold">¿Dudas? Contáctanos</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Mis Reservas</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Ir al centro de ayuda</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Haz un ticket</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none fw-light"
                  >Resolución de litigios</a
                >
              </li>
            </ul>
          </div>
          }


           <!-- Botones dinamicos para cada ruta -->
          @for ( button of buttons; track $index ) {
            <div class="list-unstyled" id="list-tab" role="tablist">
            <!-- Si el area del boton coincide con la ruta actual se muestra -->
            @if ( currentRoute().startsWith(button.area) ) {
              <a [routerLink]="button.routerLink" routerLinkActive="btn-light-brown text-primary" class="btn btn-lg btn-primary w-100 d-flex mb-2">
                <i [class]="button.icon" class="fs-2 m-0 ms-2 d-flex align-items-center" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex"><b>{{ button.label }}</b> </p>
              </a>

            }
            </div>
          }

          <!-- Entrar y Cerrar Sesion -->
          @if (!currentRoute().startsWith('/hotelsession') && authService.authStatus() === 'authenticated' ) {
          <div class="d-flex flex-column mb-2 mt-auto">
            @if (currentRoute().startsWith('/landing')) {
              <a [routerLink]="'/workspace'" class="btn btn-lg btn-tertiary w-100 d-flex mb-2">
                <i class="fa-solid fa-house fs-2 m-0 ms-2 d-flex align-items-center" style="width:32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex"> <b>Entrar</b> </p>
              </a>
            }

            <a [routerLink]="'/landing'" (click)="authService.logout()" class="btn btn-lg btn-danger w-100 d-flex mb-2">
              <i class="fa-solid fa-arrow-right-from-bracket fs-2 m-0 ms-2 d-flex align-items-center" style="width:32px;"></i>
              <p class="my-0 mx-4 align-items-center justify-content-center d-flex"> <b>Cerrar Sesión</b> </p>
            </a>
          </div>
          }
          <!-- Salir Hotel -->
          @if (currentRoute().startsWith('/hotelsession') ) {
            <div class="d-flex flex-column mb-2 mt-auto">
              <a [routerLink]="'/workspace'" (click)="hotelSessionService.logout()" class="btn btn-lg btn-danger w-100 d-flex mb-2">
                <i class="fa-solid fa-door-open fs-2 m-0 ms-2 d-flex align-items-center" style="width: 32px;"></i>
                <p class="my-0 mx-4 align-items-center justify-content-center d-flex"> <b>Salir Hotel</b> </p>
              </a>
            </div>
          }

        </div>
      </div>

    </div>
  </nav>
</header>
