<table class="table table-hover table-bordered table-striped">
  <thead>
      <tr class="text-align-center">
          <th class="text-primary bg-veige border border-secondary">Nombre</th>
          <th class="text-primary bg-veige border border-secondary">Código Postal</th>
          <th class="text-primary bg-veige border border-secondary">Dirección</th>
          <th class="text-primary bg-veige border border-secondary">Total de empleados</th>
          <th class="text-primary bg-veige border border-secondary">Dirección</th>
          <th class="text-primary bg-veige border border-secondary">Acciones</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Hotel Sol</td>
          <td>100</td>
          <td>Propio</td>
          <td>28001</td>
          <td>Calle Mayor, 1</td>
          <td>
              <div class="d-flex justify-space-between justify-content-center gap-1">
                  <button class="btn btn-blue d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">
                      <i class="fa-solid fa-right-to-bracket fs-5 text-white"></i>
                  </button>
                  <button class="btn btn-warning d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">
                      <i class="fa-solid fa-pencil fs-5 text-white"></i>
                  </button>
                  <button class="btn btn-danger d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;">
                      <i class="fa-solid fa-trash-can fs-5"></i>
                  </button>
              </div>
          </td>
      </tr>



  </tbody>
</table>
