<main class="bg-reception d-flex py-3 px-2" style="min-height: calc(100vh - 90px);">
    <div class="container-xxl rounded-3 px-3" style="background-color: rgba(255, 255, 255, 0.7);">

        <h1 class="text-center text-primary my-5">¡Bienvenido a tu zona de trabajo Usuario!</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <a [routerLink]="'/workspace/hotels'" class="hover-color-transition mb-1 rounded-top-5 card text-center text-primary p-3 bg-card-trs no-decoration">
                    <i class="fa-solid fa-house-medical fs-1"></i>
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Crear Hotel</h3>
                        <p class="text-muted card-text">¿No tienes ningún hotel? <br> ¡Crea uno!</p>
                    </div>
                </a>

                <div class="rounded-bottom-5 card text-primary px-3 bg-card-trs" style="min-height: 200px;">
                    <ul class="card-body">
                        <li><p class="my-0">Añade <b>habitaciones</b>.</p></li>
                        <li><p class="my-0">Añade <b>empleados</b>.</p></li>
                        <li><p class="my-0">Asigna <b>roles</b> a tus empleados.</p></li>
                        <li><p class="my-0">Añade <b>clientes</b>.</p></li>
                        <li><p class="my-0">Monitorea las <b>incidencias</b>.</p></li>
                        <li><p class="my-0">Chequea el <b>estado</b> de cada <b>habitación</b>.</p></li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <a [routerLink]="'/workspace/hotels'" class="hover-color-transition mb-1 rounded-top-5 card text-center text-primary p-3 bg-card-trs no-decoration">
                    <i class="fa-solid fa-envelopes-bulk fs-1"></i>
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Ver Invitaciones</h3>
                        <p class="text-muted card-text">Revisa si alguien te ha invitado a formar parte de su hotel</p>
                    </div>
                </a>

                <div class="rounded-bottom-5 card text-primary px-3 bg-card-trs" style="min-height: 200px;">
                    <ul class="card-body">
                        <li><p class="my-0">Revisa tus <b>invitaciones</b>.</li>
                        <li><p class="my-0"><b>Acepta</b> o <b>rechaza</b> invitaciones.</li>
                        <li><p class="my-0">Mira los <b>detalles</b> del hotel invitador.</li>
                        <li><p class="my-0">Consulta el <b>historial</b> de invitaciones.</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <a [routerLink]="'/workspace/hotels'" class="hover-color-transition mb-1 rounded-top-5 card text-center text-primary p-3 bg-card-trs no-decoration">
                    <i class="fa-solid fa-hotel fs-1"></i>
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Ver tus hoteles</h3>
                        <p class="text-muted card-text">Mira el listado de los hoteles a los que perteneces</p>
                    </div>
                </a>

                <div class="rounded-bottom-5 card text-primary px-3 bg-card-trs" style="min-height: 200px;">
                    <ul class="card-body">
                        <li><p class="my-0"><b>Accede</b> a tus propios hoteles</li>
                        <li><p class="my-0"><b>Consulta</b> hoteles donde eres empleado.</li>
                        <li><p class="my-0">Revisa <b>detalles</b> de los hoteles.</li>
                        <li><p class="my-0">Gestiona <b>reservas</b> y <b>clientes</b>.</li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
</main>
