<header>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top bg-white">
      <div class="container-xxl">
    
        <!-- Botón desplegable (Visible en Móvil) -->
        <button class="navbar-toggler navbar-toggler-icon d-block text-white border-0 fs-2 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        </button>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
  
        <!-- Logo -->
        <div class="navbar-brand me-auto ms-4">
          <a class="d-flex align-items-center no-decoration" href="#">
            <img src="assets/images/almohada-logo.png" alt="Bootstrap" width="60" height="40" class="me-2">
            <h3 class="logo-text mb-0 ">PillowTasker</h3>
          </a>
        </div>
    
        <!-- Informacion Usuario -->
        <div class="container-fluid align-items-end d-none d-sm-flex flex-column">
          <small class="mb-0">Nombre Usuario</small>
          <small class="mb-0">example gmail.com</small>
          <small class="mb-0">Nombre Hotel</small>
        </div>
    
        <!-- Contenido del Desplegable -->
        <div class="offcanvas offcanvas-start text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          
          <!-- Encabezado del Desplegable -->
          <div class="offcanvas-header align-items-center ">
            <a class="d-flex align-items-center no-decoration" href="#">
              <h3 class="logo-text text-bg-primary">PillowTasker</h3>
            </a>
            <i type="button" class="fa-solid fa-circle-chevron-left fs-1 ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></i>
          </div>
  
          <!-- Línea horizontal -->
           <hr class="my-0 border border-white border-1 opacity-50">
  
          <div class="offcanvas-body">
            
            <ul>
              <li></li>
            </ul>
            
          </div>
        </div>
        
      </div>
    </nav>
  </header>

