<footer class="d-none d-sm-block bg-primary text-white pt-4 d-flex">
    <div class="container-xxl">
      <div class="row">

        <!-- Sección izquierda -->
        <div class="col-sm-4 text-center">
          <h5>Sobre Nosotros</h5>
          <ul class="list-unstyled">
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Área de prensa</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Publicidad</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Términos y condiciones</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Privacidad y cookies</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Aviso legal</a></li>
          </ul>
        </div>

        <!-- Sección central -->
        <div class="col-sm-4 text-center">
          <img src="../../../assets/images/almohada-logo-footer.png" alt="Bootstrap" width="80" height="60" class="">
          <div class="d-flex justify-content-between align-items-center mt-5 mx-3">
            <a href="#" class="text-white fs-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white fs-4"><i class="fas fa-phone"></i></a>
            <a href="#" class="text-white fs-3"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>

        <!-- Sección derecha -->
        <div class="col-sm-4 text-center">
          <h5>¿Dudas? Contáctanos</h5>
          <ul class="list-unstyled">
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Soporte técnico</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Ir al centro de ayuda</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Haz un ticket</a></li>
            <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-light">Resolución de litigios</a></li>
          </ul>
        </div>
      </div>

      <!-- Copyright -->
      <div class="text-center py-3 fw-light">
        <small>© 2025 PillowTasker. Todos los derechos reservados.</small>
      </div>
    </div>

  </footer>
  