<main class="bg-corridor p-0">
    <div class="overlay">
        <!-- Caja Contenedora con los límites de crecimiento -->
        <div class="container-xxl d-flex flex-column align-items-center py-5 gap-4 flex-grow-1">

            <!-- ¿Qué es PillowTasker? -->
            <div class="card text-center text-primary bg-card-trs" style="max-width: 34rem;">
                <div class="card-body">
                    <h1 class="card-title fw-bolder">¿Qué es PillowTasker?</h1>
                    <p class="card-text text-muted ">Es un sistema gestor hostelero que te ayudará a optimizar las operaciones diarias de tu complejo.
                        Ofrecemos herramientas intuitivas para crear y gestionar hoteles con unos simples clicks.</p>
                </div>
            </div>

            <!-- Cards -->
            <div class="container-xxl px-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">

                    <div class="col">
                        <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
                            <i class="fa-solid fa-bed fs-1"></i>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Gestión de Habitaciones</h3>
                                <p class="card-text text-muted">Administra fácilmente la disponibilidad y estado de las habitaciones.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
                            <i class="fa-solid fa-users-gear fs-1"></i>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Gestión de Clientes</h3>
                                <p class="card-text text-muted">Mantén un registro detallado de tus huéspedes y sus preferencias.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
                            <i class="fa-solid fa-user-gear fs-1"></i>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Gestión de Empleados</h3>
                                <p class="card-text text-muted">Mantén un registro detallado de tus huéspedes y sus preferencias.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
                            <i class="fa-solid fa-calendar-xmark fs-1"></i>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Check-out</h3>
                                <p class="card-text text-muted">Simplifica el proceso de salida y facturación.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-primary p-3 bg-card-trs" style="min-height: 200px;">
                            <i class="fa-solid fa-calendar-check fs-1"></i>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Check-in</h3>
                                <p class="card-text text-muted">Agiliza el proceso de registro de sus huéspedes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-primary py-3 bg-card-trs" style="min-height: 200px;">
                            <div>
                                <i class="fa-solid fa-screwdriver-wrench fs-1 mx-2"></i>
                                <i class="fa-solid fa-hand-sparkles fs-1 mx-2"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title fw-bolder">Mantenimiento y Limpieza</h3>
                                <p class="card-text text-muted">Gestiona las tareas de tu hotel para mantenerlo en óptimas condiciones.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Acceso Inicio de Sesión -->
            <div class="text-primary d-flex flex-column align-items-center mt-5">
                <h1 class="mb-3 text-center fw-bolder mb-5">¿Listo para optimizar la gestión de tu hotel?</h1>

                @if (authService.authStatus() === 'authenticated') {
                  <a [routerLink]="'/workspace'" class="hover-color-transition card text-center text-primary p-3 no-decoration" style="max-width: 32rem; background-color: rgba(255, 255, 255, 0.8);">
                    <i class="fa-solid fa-house-laptop fs-1 mx-2"></i>
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Entrar a mi Zona de Trabajo</h3>
                        <p class="card-text text-muted">Un espacio cómodo espacio de trabajo dónde puedrás visualizar las amplias herramientas de PillowTasker.</p>
                    </div>
                </a>
                }
                @else{
                  <a [routerLink]="'/auth'" class="hover-color-transition card text-center text-primary p-3 no-decoration" style="max-width: 32rem; background-color: rgba(255, 255, 255, 0.8);">
                    <i class="fa-solid fa-house-laptop fs-1 mx-2"></i>
                    <div class="card-body">
                        <h3 class="card-title fw-bolder">Entrar a mi Zona de Trabajo</h3>
                        <p class="card-text text-muted">Un espacio cómodo espacio de trabajo dónde puedrás visualizar las amplias herramientas de PillowTasker.</p>
                    </div>
                </a>
                }


            </div>

        </div>
    </div>
</main>
