<div class="d-flex flex-column align-items-center justify-content-center bg-white rounded-3 py-4" style="min-height: 100%;">
  <h2 class="fw-bold mb-4">Editar Hotel</h2>

  <form class="w-100 px-3 " style="max-width: 30rem;" [formGroup]="hotelForm" (ngSubmit)="onSubmit()">

    <!-- Nombre del Hotel -->
    <div class="mb-2">
      <label class="form-label fw-bold">Nombre del Hotel</label>
      <input
        type="text"
        class="form-control custom-input bg-beige"
        placeholder="Ej: Villa Nueva"
        formControlName="name"
        autocomplete="off"
        [value]="hotelResource.value()?.name"
        required
        [class.is-invalid]="hotelForm.get('name')?.invalid && hotelForm.get('name')?.touched"
      />
      <form-error-label [control]="hotelForm.get('name')!"></form-error-label>
    </div>

    <div class="row">
      <!-- Dirección -->
      <div class="col-md-8 mb-3">
        <label class="form-label fw-bold">Dirección</label>
        <input
          type="text"
          class="form-control custom-input bg-beige"
          placeholder="Ej: Calle Ficticia 23, Estonia"
          formControlName="address"
          autocomplete="off"
          [value]="hotelResource.value()?.address"
          required
          [class.is-invalid]="hotelForm.get('address')?.invalid && hotelForm.get('address')?.touched"
        />
        <form-error-label [control]="hotelForm.get('address')!"></form-error-label>
      </div>
      <!-- Código Postal -->
      <div class="col-md-4 mb-3">
        <label class="form-label fw-bold">Código Postal</label>
        <input
          type="text"
          class="form-control custom-input bg-beige"
          placeholder="Ej: 29638"
          formControlName="postalCode"
          autocomplete="off"
          [value]="hotelResource.value()?.postalCode"
          required
          [class.is-invalid]="hotelForm.get('postalCode')?.invalid && hotelForm.get('postalCode')?.touched"
        />
        <form-error-label [control]="hotelForm.get('postalCode')!"></form-error-label>
      </div>
    </div>

    <!-- Botón de Guardar -->
    <button type="submit" class="btn btn-secondary w-100">Guardar</button>
  </form>

  <a routerLink="/workspace/hotels" class="text-sm text-primary mt-3 small">Volver a la lista de hoteles</a>

  @if (wasSaved()) {
    <div class="alert alert-success mx-3 position-fixed my-4 py-4 shadow" role="alert" >
      <span>Datos Actualizados Correctamente</span>
    </div>
  }
</div>

