<!-- Modal de Inicio de Sesión -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-primary">
    <div class="modal-content p-3">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold">Iniciar Sesión</h5>
        <button type="button" class="d-flex justify-content-center bg-secondary border-0 ms-auto rounded-5" data-bs-dismiss="modal" aria-label="Close">
          <i class="text-white fa-solid fa-xmark fs-2"></i>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="login()">
          <!-- Correo -->
          <div class="mb-3">
            <label class="form-label fw-bold">Correo</label>
            <input type="email" class="form-control custom-input bg-beige" placeholder="Introduce tu correo electrónico" [(ngModel)]="email" name="email" required />
          </div>
          <!-- Contraseña -->
          <div class="mb-3">
            <label class="form-label fw-bold">Contraseña</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control custom-input bg-beige" placeholder="Introduce tu contraseña" [(ngModel)]="password" name="password" required />
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
              </button>
            </div>
          </div>
          <!-- Botón de Login -->
          <button type="submit" class="btn btn-secondary w-100 custom-button">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>