<div
  class="d-flex flex-column align-items-center justify-content-center min-vh-100"
>
  <div class="card shadow px-3 py-2" style="max-width: 24rem; width: 100%">
    <div class="card-header text-center border-0 bg-transparent">
      <h5 class="fw-bold">Crea tu cuenta</h5>
    </div>

    <div class="card-body">
      <form class="mb-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label class="form-label fw-bold">Datos del usuario</label>
        <!-- Nombre -->
        <div class="mb-2">
          <input
            type="text"
            class="form-control custom-input bg-beige"
            placeholder="Nombre"
            formControlName="name"
            required
          />
          <form-error-label
            [control]="registerForm.get('name')!"
          ></form-error-label>
        </div>
        <!-- Surname1 -->
        <div class="mb-2">
          <input
            type="text"
            class="form-control custom-input bg-beige"
            placeholder="Primer Apellido"
            formControlName="surname1"
            required
          />
          <form-error-label
            [control]="registerForm.get('surname1')!"
          ></form-error-label>
        </div>
        <!-- Surname2 -->
        <div class="mb-2">
          <input
            type="text"
            class="form-control custom-input bg-beige"
            placeholder="Segundo Apellido"
            formControlName="surname2"
            required
          />
          <form-error-label
            [control]="registerForm.get('surname2')!"
          ></form-error-label>
        </div>
        <!-- DNI -->
        <div class="mb-2">
          <input
            type="text"
            class="form-control custom-input bg-beige"
            placeholder="DNI"
            formControlName="dni"
            required
          />
          <form-error-label
            [control]="registerForm.get('dni')!"
          ></form-error-label>
        </div>
        <!-- Correo -->
        <div class="mb-3">
          <input
            type="text"
            class="form-control custom-input bg-beige"
            placeholder="Correo electrónico"
            formControlName="mail"
            required
          />
          <form-error-label
            [control]="registerForm.get('mail')!"
          ></form-error-label>
        </div>

        <!-- Contraseña -->
        <div class="mb-2">
          <label class="form-label fw-bold">Contraseña</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control custom-input bg-beige"
              placeholder="Introduce tu contraseña"
              formControlName="password"
              required
            />
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="togglePasswordVisibility()"
            >
              <i
                class="bi"
                [ngClass]="
                  showPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                "
              ></i>
            </button>
          </div>
          <form-error-label
            [control]="registerForm.get('password')!"
          ></form-error-label>
        </div>
        <!-- Confirmar Contraseña -->
        <div class="mb-3">
          <div class="input-group">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              class="form-control custom-input bg-beige"
              placeholder="Repite la contraseña"
              name="confirmPassword"
              formControlName="password2"
              required
            />
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="toggleConfirmPasswordVisibility()"
            >
              <i
                class="bi"
                [ngClass]="
                  showConfirmPassword
                    ? 'fa-solid fa-eye'
                    : 'fa-solid fa-eye-slash'
                "
              ></i>
            </button>
          </div>
          <form-error-label
            [control]="registerForm.get('password2')!"
          ></form-error-label>
          @if ( registerForm.hasError('passwordsNotEqual') &&
          registerForm.get('password2')?.touched ) {
          <div class="text-danger small mt-1">Las contraseñas no coinciden</div>
          }
        </div>

        <!-- Checkbox -->
        <div class="form-check mb-3 small">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacyPolicy"
            formControlName="acceptPolicy"
          />
          <label class="form-check-label" for="privacyPolicy">
            Acepto la política de privacidad
          </label>
          <form-error-label
            [control]="registerForm.get('acceptPolicy')!"
          ></form-error-label>
        </div>
        <!-- Botón de Registro -->
        <button type="submit" class="btn btn-secondary w-100">
          <b>Crear</b>
        </button>
      </form>

      <p class="small">
        ¿Ya tienes una cuenta?
        <a routerLink="/auth/login" class="text-sm text-primary"
          >Inicia sesión aquí</a
        >
      </p>
    </div>
  </div>

  @if (globalError()) {
  <div class="alert alert-danger mt-3" role="alert">
    {{ globalError() }}
  </div>
  }
</div>
